.web-header, .location {
    min-height: calc(5vh + 5px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(20px + 1vw);
    color: #282c34;
    padding-top: 30px;
}

.form, .message, .table-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(15px + 0.8vw);
    padding-top: 30px;
}

.message {
    color: red;
}

.form text, .form button, .form select, .form input {
    font-size: calc(10px + 0.8vw);
}


.forecast-container {
    background-color: #f6f6f6;
    padding: 4vh 4vw 4vh 4vw;
    /* width: 100vw; */
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.forecast {
    display: inline-block;
    /* Adjust width as needed */
    width: 20vw;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f1f1f1;
    /* Adjust background color as needed */
    text-align: center;
    /* line-height: 100px; */
    font-size: calc(10px + 0.6vw);
}

.forecast img {
    padding: 20px;
}
  