{% extends "base.html" %}

{% if name %}
{% block location %}
{{name}}, {{country}}
{% endblock %}
{% endif %}

{% if hours %}
{% block hour %}
<div class="table-header">8-Hour Forecast</div>
<div class="forecast-container">
    {% for hour in hours %}
    <div class="forecast">
        <h3>{{hour.dt}}</h3>
        <p>{{hour.temp}}{{sign}}</p>
        <p>{{hour.description}}</p>
    </div>
    {% endfor %}
</div>
{% endblock%}
{% endif %}

{% if days %}
{% block day %}
<div class="table-header">7-Day Forecast</div>
<div class="forecast-container">
    {% for day in days %}
        <div class="forecast">
            <h3>{{day.dt}}</h3>
            <p>{{day.temp_min}}{{sign}} - {{day.temp_max}}{{sign}}</p>
            <p>{{day.description}}</p>
            <img src="http://openweathermap.org/img/w/{{ day.icon }}.png" alt="{{ day.description }}">
        </div>
    {% endfor %}
</div>
{% endblock %}
{% endif %}

